<div class="vote-container" >
  <%= link_to playlist_track_votes_path(@playlist, track), method: :post, remote: true do %>
    <button type="button" class="underline btn d-inline">
      <i class="fa fa-thumbs-up text-white pr-1 d-inline" aria-hidden="true"></i><span id="vote-<%= track.id %>" class="badge badge-light badge-pill d-inline"><%= track.votes.where(playlist_id: @playlist.id).count %></span>
    </button>
  <% end %>
</div>

