<div class="vote-container" >
  <%= link_to playlist_track_votes_path(@playlist, track), method: :post, remote: true do %>
    <button type="button" class="btn d-inline thumbs-up px-0 font-small">
      <i class="fa fa-thumbs-up thumbs-up-icon d-inline" aria-hidden="true"></i>
    </button>
    <span id="vote-<%= track.id %>" class="font-medium text-white m-0 pl-0">
        <%= track.votes_number(@playlist.id) %>
      </span>
  <% end %>
</div>

