<div class="container py-5 px-5">
<h1 class="text-white">You are now logged in with your Spotify account</h1>
<h2 class="text-white"> <%= @spotify_user.display_name %></h2>
<p> <%=link_to 'Create a Spotify Playlist', '/auth/spotify',class:"btn btn-flat" %></p>
</div>
