<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.itl.cat/pngfile/big/214-2144712_live-dj-wallpaper-dj-hd-1080p.jpg) ;">
  <h1 class="text-center header1"><strong>JOIN A ROOM</strong> </h1>
  <div class="search-form-control form-group">
    <%= form_tag playlists_search_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Room code"
    %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

