 .form-control{
  width: 100%;
  position: relative;

 }

 .autocomplete{
  color: #0a0a0a;
  background: white;
  box-shadow: 0 0 5px 0 white inset, 0 0 10px 1px white;

  .selected{
    background-color: rgba(130, 49, 48, .5);
    color: white;
  }
}
