// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

#card-plus {
  opacity: 0.6;
}

.form {
  color: white;
}

.song-card {
  color: white;
  background-color: #0a0a0a;
}

.plus-card {
 margin-top: 27px;
}

.duration-size{
  font-size: 16px
}

@media (min-width: 375px) {
  .toggle-button{
    font-size: 12px;
  }
  .font-medium {
    font-size: 18px;
    padding-left: 0px
  }

  .font-small {
    font-size: 10px;
    padding-left: 0px
  }
  .form-control {
    box-shadow: 0 1px 20px -10px white;
    margin: 5px;
    width: 100%;
  }
  .Spotify {
    position: relative;
    top: 40px;
    right: 35px;
  }
  .playlist-info {
    position: relative;
    bottom: 45px;
  }
  .playlist-name {
    left: 20px;
    font-size: 25px;
    position: relative;
  }
  .cross {
    padding-right: 10px;
  }
  .by-dj {
    position: relative;
    right: 15px;
    bottom: 4px;
    font-size:15px;
    padding-left: 45px;
  }
  .date {
    position: relative;
    left: 45px;
    color: rgb(180,180,180);
    font-size: 15px;
    top: 40px;
  }
  .switch {
    padding-top: 90px;
  }
  .song-card2 {
    border-bottom: 1px solid #6c757d;
    padding-top: 10px;
  }
  .add-room-code{
    margin-right: 20px;
  }
  .cross{
    padding-left: 10px;
  }
  .fa-toggle-off {
    font-size: 10px;
  }

  .fa-toggle-on {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  .toggle-button{
    font-size: 17px;
  }
  .song-card2 {
    border-bottom: 1px solid #6c757d;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  .font-medium {
    font-size: 20px;
    padding-left: 30px;
  }

  .font-small {
    font-size: 15px;
    padding-left: 30px
  }
  .form-control {
    box-shadow: 0 1px 20px -10px white;
    margin: 5px;
    width: 100%;
  }
  .Spotify {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .playlist-info {
    position: relative;
    bottom: 0px;
    padding-bottom: 50px;
  }
  .playlist-name {
    display: block;
    font-size: 40px;
  }
  .cross {
    padding-right: 0px;
  }
  .by-dj {
    position: relative;
    right: 0px;
    left: 0px;
    font-size: 20px;
    padding-left: 20px;
  }
  .date {
    position: relative;
    bottom: 0px;
    padding-left: 20px;
    color: rgb(180,180,180);
    left: 38px;
  }
  .switch {
    padding-top: 20px;
  }
  .fa-toggle-off {
    font-size: 10px;
  }

  .fa-toggle-on {
    font-size: 20px;
  }
}

.name-form {
  color: white;
}

.name-field-new{
  padding-right: 120px;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 4px;
  background-color: #e9ecef;
}

.date-picker {
  padding-right: 200px;
  margin-left: 40px;
  box-sizing: border-box;
}

