// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

#card-plus {
  opacity: 0.6;
}

.form {
  color: white;
}

.form-control {
  box-shadow: 0 1px 20px -10px white;
  margin: 5px;
}

.song-card {
  color: white;
  background-color: #0a0a0a;
}

.song-card2 {
  border-bottom: 1px solid #6c757d;
}

.font-medium {
  font-size: 15px;
}

.font-small {
  font-size: 10px;
}
