// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

#card-plus {
  opacity: 0.6;
}

.form {
  color: white;
}

.form-control {
  box-shadow: 0 1px 20px -10px white;
  margin: 5px;
}

.song-card {
  color: white;
  background-color: #0a0a0a;
}

.song-card2 {
  border-bottom: 1px solid #6c757d;
}

.font-medium {
  font-size: 15px;
}

.font-small {
  font-size: 10px;
}

.plus-card {
 margin-top: 27px;
}

@media (min-width: 375px) {
  .Spotify {
    position: relative;
    top: 40px;
    right: 13px;
  }
  .playlist-info {
    position: relative;
    bottom: 45px;
  }
  .playlist-name {
    display: flex;
    left: 20px;
  }
  .cross {
    padding-right: 10px;
  }
  .by-dj {
    position: relative;
    right: 15px;
  }
  .date {
    position: relative;
    bottom: 20px;
    left: 70px;
    color: rgb(180,180,180)
  }
  .switch {
    padding-top: 90px;
  }
}

@media (min-width: 576px) {
  .Spotify {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .playlist-info {
    position: relative;
    bottom: 0px;
    padding-bottom: 40px;
  }
  .playlist-name {
    display: block;
  }
  .cross {
    padding-right: 0px;
  }
  .by-dj {
    position: relative;
    right: 0px;
  }
  .date {
    position: relative;
    bottom: 0px;
    left: 0px;
    color: rgb(180,180,180);
    left: 20px;
  }
  .switch {
    padding-top: 20px;
  }
}
