<%= simple_form_for(@playlist) do |f| %>
  <p class="titlebox">Playlist</p>
  <div class="new-name">
    <p class="name-form">Name</p>
    <p class="pb-4 mr-3"><%= f.text_field :name, placeholder: "Playlist name" %></p><br>
  </div>
  <p class="titlebox">Event</p>
  <div class="date-picker">
    <%= f.input :date, as: :date, class: "pb-1" %>
  </div>
  <p class="button-padding"><%= f.submit %>
<% end %>
