<%= simple_form_for(@playlist) do |f| %>
  <p class="titlebox">Playlist</p>
  <div class="new-name">
    <p class="name-form">Name</p>
    <p class="pb-4"><%= f.text_field :name, placeholder: "   Playlist name", class: "name-field-new" %></p><br>
  </div>
  <p class="titlebox">Event</p>
  <div class= "date-picker">
    <%= f.input :date, as: :string, input_html: {id:"event_date"}, placeholder: "Event date" %>
  </div>
  <p class="button-padding"><%= f.submit %></p>
<% end %>
