<%= simple_form_for(@playlist) do |f| %>
  <p class="titlebox">Playlist</p>
  <div class="new-name">
    <p class="name-form">Name</p>
    <p class="pb-4 mr-3"><%= f.text_field :name, placeholder: "Playlist name" %></p><br>
  </div>
  <p class="titlebox">Event</p>
  <%= f.input :date, as: :string, input_html: {id:"event_date"} %>
  <p class="button-padding"><%= f.submit %></p>
<% end %>
