<div class=container>
  <h1><%= current_user.username %>'s Playlists</h1>
  <div class="row row-cols-1 row-cols-md-2">
    <% @playlists.each do |playlist| %>
      <div class="col mb-4">
        <div class="card text-white bg-dark mb-3">
          <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= playlist.name %></h5>
            <% if policy(playlist).update? %>
                <%= link_to edit_playlist_path(playlist) do %>
                  <i class="fas fa-edit text-white"></i>
                <% end %>
            <% end %>
            <% if policy(playlist).destroy? %>
              <%= link_to playlist_path(playlist), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose text-white"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
