<div class=container>
<h1>Playlists</h1>
<% @playlists.order('created_at DESC').each do |playlist| %>
<%= playlist.name%><%= link_to "Edit",playlist_path(playlist)%><%= link_to "Delete",playlists_destroy_path(playlist)%>
<% end %>
</div>
