<div class="container3">
  <div class="container mb-5">
    <h1 class="New-playlist-title text-white"><strong>New playlist</strong></h1>
    <div class="form">
      <%= render "form", playlist: @playlist %>
    </div>
  </div>
