<div class="container1">
  <div class="container">
    <h1 class="text-white"><strong>New playlist</strong></h1>
    <div class="form">
      <%= render "form", playlist: @playlist %>
    </div>
  </div>
